<h1>Songs from <%= @user.email %></h1>
<% @songs.each do |song| %>
<div class='song'>
  <%= song.title %> 
  <small>added by: <%= song.user.email %></small> 
  <% if song.url %>
    <a href='<%= song.url %>'>url</a>
  <% end %>
</div>
<% end %>