<h1>All Songs</h1>
<% @songs.each do |song| %>
<div class='song'>
  <%= song.title %> 
  <small>added by: <%= song.user.email %></small> 
  <% if song.url %>
    <a href='<%= song.url %>'>url</a>
  <% end %>
  <% if session[:user] %>
    <input class="btn btn-success btn-xs" type="button" value="Input">
  <% end %>
</div>
<% end %>