<h1>See All Songs</h1>
<a href='/songs/new'>Add New</a>
<% @songs.each do |song| %>
<div class='song'>
  <%= song.title %> 
  <small>added by: <%= song.author %></small> 
  <% if song.url %>
    <a href='<%= song.url %>'>url</a>
  <% end %>
</div>
<% end %>