<div class="navigation">
  <% if @user %>
    <a href='/login/user'><%= @user.email %></a>
    <a class="btn btn-info" href='/logout' role="button">logout</a>
  <% else %>
    <a class="btn btn-info" href='/login' role="button">login</a>
    <a class="btn btn-info" href='/register' role="button">register</a>
  <% end %>
  <a class="btn btn-info" href='/songs/new' role="button">Add New</a>
  
</div>

<h1>All Songs</h1>
<% @songs.each do |song| %>
<div class='song'>
  <%= song.title %> 
  <small>added by: <%= song.author %></small> 
  <% if song.url %>
    <a href='<%= song.url %>'>url</a>
  <% end %>
</div>
<% end %>