<% if @song.errors.any? %>
  <div>
    <strong>Some issues with your song, please fix them:</strong>
    <ul>
      <% @song.errors.full_messages.each do |song| %>
        <li><%= song %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<form method="post" action="/songs">
  <div>
    <label>Title:</label>
    <input type="text" name="title">
  </div>
  <div>
    <label>Author:</label>
    <input type="text" name="author">
  </div>
  <div>
    <label>URL (optional):</label>
    <input type="text" name="url">
  </div>
  <div>
    <input type="submit" value="Submit">
  </div>
</form>
