<h2>Add new song</h2>
<% if @song.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <strong>Some issues with your song, please fix them:</strong>
    <ul>
      <% @song.errors.full_messages.each do |song| %>
        <li><%= song %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<form method="post" action="/songs">
  <div class='form-group'>
    <label>Title</label>
    <input type="text" name="title" class="form-control" placeholder='Song title' value="<%= @song.title %>">
  </div>
  <div class='form-group'>
    <label>URL (optional)</label>
    <input type="text" name="url" class="form-control" placeholder='URL' value="<%= @song.url %>">
  </div>
  <div class='form-group'>
    <button type="submit" class="btn btn-default">Submit</button>
  </div>
</form>
