<!DOCTYPE html>
<html lang="en">
<head>
<!-- bootstrap -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    
<!-- application.css is where you put your styles -->
  <link rel="stylesheet" href="/stylesheets/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/javascript/application.js"></script>

  <title></title>
</head>
<body>
<header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
    <ul class="nav nav-tabs">
        <li role="presentation"><a href="/songs">All Songs</a></li>
      <% if session[:user_id] %>
        <li role="presentation"><a href='/songs/new'>Add New Song</a></li>
        <li role="presentation"><a href='/songs/from/<%= session[:user_id] %>'><%=User.find(session[:user_id]).email %></a></li>
        <li role="presentation"><a href='/logout'>logout</a></li>
      <% else %>
        <li role="presentation"><a href='/login'>login</a></li>
        <li role="presentation"><a href='/register'>register</a></li>
      <% end %>
    </ul>
</header>

<div class="container-fluid">
  <%= yield %>
</div>
</body>
</html>
